body {
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
    padding: 1em;
  }
  
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
  }
  

  .menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d0d0d0;
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;    
  }
  
  .menu-li {
    float: left;
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    background: #d0d0d0;

  }
  
  .menu-li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  .menu-li a:hover {
    background-color: #666;
    color: white;
  }
  .active {
    background-color: #444;
    color: black;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 1.5em;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color:#d0d0d0;
  }

  h1, h2 {
    text-align: center;
  }
  
  h1:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  }
  
  h2:after {
    content:' ';
    display:block;
    border:1px solid #d0d0d0;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  }

  p, form {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  
  h3 {
    padding-left: 1em;
    padding-right: 1em; 
  }

figure {
    display: inline-block;
    border: 1px solid #d0d0d0;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
    max-width:100%; 
    height:auto;
}
figure figcaption {
    border: 1px dotted #d0d0d0;
    text-align: center;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  max-width: 100%;
  
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

canvas {
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}

.greentext{ 
  color: green;
}
